.navbar {
    background: tan;
    min-height: 70px;
    position: fixed;
    width: 100%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: white;
    font-size: calc(10px + (24 - 10) * (100vw - 320px) / (1200 - 400));
    text-align: center;
    z-index: 99;
    white-space: nowrap;
  }

.navbar-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px;
    margin: 0;
    width: 100%;
    list-style-type: none;
}
  
.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 900;
  }